<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
  <title>editar</title>
</head>
<body>
<h2> Edição de Produto</h2>
<form name="edicaoDeProduto" th:action="@{/0.0.1/produtos/edit}" th:object="${produto}" method="post">
  <p>Digite o ID: <label>
    <input type="text" th:field="*{id}"/>
  </label></p>
  <p>Digite o nome: <label>
    <input type="text" th:field="*{nome}"/>
  </label></p>
  <p>Digite a marca <label>
    <input type="text" th:field="*{marca}"/>
  </label></p>
  <p>Digite o preço: <label>
    <input type="text" th:field="*{preco}"/>
  </label></p>
  <p>Digite a quantidade: <label>
    <input type="text" th:field="*{qtdDisponivel}"/>
  </label></p>
  <th><input type="submit" value="Enviar" name="find"></th>
  <th><input type="reset" value="Limpar" name="reset"></th>
</form>
</body>
</html>